<html>
   <head>
      <title>Home</title>
      <link rel="stylesheet" type = "text/css" href="">
   </head>
   <body>
      <div class="container">
            <div class="row">
                <div class="col-md-12">
                <h1>Home</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <p>Welcome to the home page.
                    This is where you can view all of the teams and add new teams.
                    To proceed click on Get Teams Button below
                </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                <p>
                    <a href="/team"><button>Get Team</button></a>
                </p>
                </div>
            </div>    
      </div>
   </body>
</html>